body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #008b9a;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titulo {
    text-align: center;
    margin: 20px 0;
    color: rgb(0, 0, 0);
}


.formulario {
    background: #e0f5f7;
    padding: 30px 40px;
    border-radius: 12px;
    width: 450px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px 20px; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.formulario label {
    text-align: right;
    font-weight: bold;
    align-self: center; 
}

.formulario input[type="text"],
.formulario input[type="number"],
.formulario input[type="date"],
.formulario input[type="file"] {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
}


.formulario h2 {
    grid-column: span 2;
    margin-top: 20px;
}

.formulario .radio-group {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 20px;
}


.formulario button {
    grid-column: span 2;
    background-color: #008b9a;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
}

.formulario button:hover {
    background-color: #006f7d;
}